<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>
    <h1>Calculadora</h1>
    <form action="/calculadora" method="post">
    <label for="">Primeiro número:</label>
    <input type="text" name="v1">
    <br>
    <label for="">Segundo número:</label>
    <input type="text" name="v2">
    <br>
    <label for="">Digite a operação (soma / subtracao / divisao / multiplicacao):</label>
    <input type="text" name="operacao">
    <br>
    <button type="submit">Submeter</button>
    </form>
</body>
</html>